{% extends "admin_portal/table_template.html" %}

<!-- Title -->

{% block title %} TMT {% endblock %}

<!-- Description -->

{% block description %}
    El Trail Making Test (TMT) tiene como propósito medir tanto la atención selectiva como la alternante y la velocidad y flexibilidad mental.
{% endblock %}

<!-- Talbel Title -->

{% block tableTitle %} Base de datos de juego {% endblock %}

<!-- Put "d-none" class if wanth to hide -->

{% block class_addButton %}{% endblock %}

<!-- Template section -->

{% block templates %}
    {% include('admin_portal/parts/TMT/template_config.html') %}
{% endblock %}

<!-- Scripts for this page -->

{% block script %}

    <script type="module" src="/js/admin/action_pages/tmt_actions.js"></script>

{% endblock %}
