/*------------------------------------------
 * Header
 *----------------------------------------*/
#header{
    transition: all 0.5s;

    img {
        height: 5rem;
        transition: height 0.5s;
    }

    &:hover {
        background: $dark;
        opacity: 0.8;
    }

    &.header-scrolled {
        background: $dark;
        opacity: 0.8;

        img {
            height: 2rem;
        }
    }

}


