{% extends "start_form_template.html" %}

<!--Metadata-->
{% block meta %}
    <meta name="description" content="" />
    <meta name="author" content="" />
{% endblock %}

<!--title-->
{% block title %}Login{% endblock %}

<!--Content of form-->
{% block content %}
    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">
                Bienvenido de vuelta!
              </h1>
            </div>
            <div class="my-2" id="login_form_container"></div>
            <div class="d-grid gap-1">
              <button type="button" class="btn btn-dark" id="btn_login">
                Login
              </button>
            </div>
            <hr />
            <div class="text-center">
              <a class="small" href="/register" id="btn_new_account">
                Crear una cuenta!
              </a
              >
            </div>
        </div>
    </div>
{% endblock %}

<!--Scripts of forms-->
{% block script %}
    <script type="module" src="/js/start_forms/login.js"></script>
{% endblock %}
