{% extends "patient_portal/game_template.html" %}

<!-- meta -->
{% block meta %}
<title>Web</title>
<meta content="" name="description" />
<meta content="" name="keywords" />
{% endblock %}

<!-- style -->
{% block style %} {% endblock %}

<!-- tutorial -->
{% block tutorial %}
<iframe
  style="width: 100vw; height: 90vh;"
  src="https://www.youtube-nocookie.com/embed/9Bz7oLR5Pxs?controls=0"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
></iframe>
{% endblock %}

<!-- game -->
{% block game %}
<div class="vw-100 d-flex justify-content-center" id="image_container">
  <canvas
    id="game_canvas"
    style="position: absolute; width: 100vw; height: 100vh"
  ></canvas>
  <div id="points_container" class="patient_play">
    <span></span>
    <img
      class="img-fluid img_behind_dots d-none"
      id="game_image"
      alt="Esperando imagen para editar"
      src=""
    />
  </div>
</div>
{% endblock %}

<!-- script -->
{% block script %}
<script type="module" src="/js/patient/games/TMT_config.js"></script>
{% endblock %}
