{% extends "admin_portal/table_template.html" %}

<!-- Title -->

{% block title %} Grupos {% endblock %}

<!-- Description -->

{% block description %}
    Los grupos son la entidad que permite relacionar los juegos con los pacientes, asi como tambien con todos los invstigadores.
 {% endblock %}

<!-- Talbel Title -->

{% block tableTitle %} Base de datos de grupos {% endblock %}

<!-- Put "d-none" class if wanth to hide -->

{% block class_addButton %}{% endblock %}

<!-- Scripts for this page -->

{% block script %}

    <script type="module" src="/assets/js/admin/action_pages/group_actions.js"></script>

{% endblock %}
