<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {% block meta %}{% endblock %}

    <!-- Favicons -->
    <!--<link href="assets/img/favicon.png" rel="icon">-->
    <!--<link href="assets/img/apapple-touch-icon.png" rel="apapple-touch-icon">-->

    <!-- Vendor CSS Files -->

    <!-- Main CSS File -->
    <link href="/assets/css/admin_navs.css" rel="stylesheet" type="text/css">
    {% block style %}{% endblock %}

  </head>

  <body>

    <div id="wrapper" class="d-flex">
      {% include('admin_portal/parts/sidebar.html') %}
      <div id="content-wrapper" class="d-flex flex-column w-100">
        <div id="content">
          {% include('admin_portal/parts/top_bar.html') %}

          <div class="container-fluid">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </div>

    <!-- Vendor JS Files -->

    <!-- Main JS Files -->
    <script src="/assets/js/admin/actions.js"></script>
    {% block script %}{% endblock %}

  </body>
</html>
