<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {% block meta %}{% endblock %}

    <!-- Favicons -->
    <!--<link href="assets/img/favicon.png" rel="icon">-->
    <!--<link href="assets/img/apapple-touch-icon.png" rel="apapple-touch-icon">-->

    <!-- Vendor CSS Files -->

    <!-- Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet"

  </head>

  <body class="d-flex flex-column h-100">

    {% include('parts/header.html') %}

    {% block content %}{% endblock %}

    {% include('parts/footer.html') %}

    <!-- Vendor JS Files -->

    <!-- Main JS Files -->
    <script src="assets/js/header/style_helper.js"></script>

  </body>
</html>
